<%= form_for :session, url: sign_in_path do |f| %>
  <div class="field">
    <%= f.label :email, "E-mail" %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, "Senha" %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "Entrar" %>
<% end %>

<p>Novo aqui? <%= link_to  "Cadastre-se", users_path %></p>
