<%= form_for @user do |form| %>
  <div class="field">
    <%= form.label :Nome %>
    <%= form.text_field :description %>
  </div>
  <div class="field">
    <%= form.label :Email %>
    <%= form.email_field :email %>
  </div>
  <div class="field">
    <%= form.label :Senha %>
    <%= form.password_field :password %>
  </div>

  <%= form.fields_for :locale do |builder| %>
    <div class="field">
      <%= builder.label :Estado %>
      <%= builder.text_field :state %>
    </div>

    <div class="field">
      <%= builder.label :Cidade %>
      <%= builder.text_field :city %>
    </div>

    <div class="field">
      <%= builder.label :Rua %>
      <%= builder.text_field :street %>
    </div>

    <div class="field">
      <%= builder.label :Número %>
      <%= builder.text_field :number %>
    </div>
  <% end %>

   <div>
    Dono de estabelecimento?<br />
    <%= form.radio_button :admin, true %> Sim
    <%= form.radio_button :admin, false %> Não <br />
  </div>

  <p><%= form.submit "Cadastrar" %></p>
<% end %>
