<%= form_for @food do |form| %>
  <div>
    <%= form.label "Nome" %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.label "Valor" %>
    <%= form.text_field :value %>
  </div>
  <div>
    <%= form.label "Imagem" %>
    <%= form.file_field :image %>
  </div>
  <%= hidden_field_tag "food[restaurant_id]", "#{current_user.restaurant.id}" %>
  <div>
    <%= form.label "Categoria" %>
    <%= form.collection_select(:category_id, @categories, :id, :description) %>
  </div>

  <%= form.submit 'Cadastrar' %>
<% end %>
