<header class="header">
  <div>
    <h1>Comidas</h1>
    <% if logged_in? %>
      <%= link_to  "Sair", sign_out_path, method: "delete" %>
    <% else %>
      <%= link_to "Entrar", sign_in_path %>
    <% end %>
  </div>

  <% if logged_in? && !current_user.restaurant.nil? %>
    <p>Verifique seus produtos ou adicione novos</p>
    <%= link_to  "Cadastrar nova comida", foods_new_path %>
  <% elsif logged_in? && current_user.admin %>
    <p>Cadastre seu restaurante e alcance suas metas!</p>
    <%= link_to  "Cadastrar restaurante", restaurants_new_path %>
  <% else %>
    <p>Veja o que há disponível em sua região</p>
  <% end %>

  <% if logged_in? && !current_user.admin %>
    <%= link_to "CARRINHO (#{@quantity_items})", cart_list_path %>
  <% end %>
</header>
