<div class="container">
  <%= render "header" %>

  <div class="menu">
    <% @categories.each do |category| %>
      <%= link_to foods_path(:category_id => category.id), :class => "menu_item" do %>
        <%= image_tag category.image_url, size: "25x25" %>
        <%= category.description %>
      <% end %>
    <% end %>
    <%= link_to  "Limpar", foods_path, :class => "menu_item" %>
  </div>

  <% if @foods.length == 0 %>
    <p>Nada disponível no momento, retorne mais tarde!</p>
  <% else %>
    <main class="food_box">
      <% @foods.each do |food| %>
        <div class="food_item">
          <div class="title">
            <h3><%= food.description %></h3>
            <% if (logged_in? && !current_user.restaurant.nil?) && current_user.id == food.restaurant.user.id %>
              <%= button_to "X", foods_path, params: {:id => food.id}, :method => :delete, data: {confirm: 'Tem certeza?'} %>
            <% end %>
          </div>

          <%= image_tag food.image %>

          <div class="food_info">
            <div>
              <span><%= food.restaurant.description %></span>
              <p><%= food.restaurant.locale.street %>, <%= food.restaurant.locale.number %></p>
              <p><%= food.restaurant.locale.city %> - <%= food.restaurant.locale.state %></p>
            </div>

            <div class="info_shop">
              <strong><%= number_to_currency_br(food.value) %></strong>

              <% if logged_in? && current_user.restaurant.nil? %>
                <%= button_to 'COMPRAR', buy_path, params: {:cart_items => {:food_id => food.id, :user_id => current_user.id, :quantity => 1}}, :method => :post  %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </main>
  <% end %>
</div>
