<div class="container">
  <%= render "header" %>

  <% if @cart_items.length == 0 %>
    <p>Você ainda não comprou nada, :(</p>
  <% else %>
    <main class="cart_box">
      <div class="cart_item">
        <strong>Imagem</strong>
        <strong>Produto</strong>
        <strong>Valor</strong>
        <strong>Qntd</strong>
      </div>

      <% @cart_items.each do |cart_item| %>
        <div class="cart_item">
          <%= image_tag cart_item.food.image, width: "150" %>
          <p><%= cart_item.food.description %></p>
          <strong><%= number_to_currency_br(cart_item.food.value * cart_item.quantity) %></strong>

          <div>
            <p><%= cart_item.quantity %></p>
            <%= button_to '+', add_cart_path, params: {:id => cart_item.id, :cart_items => {:food_id => cart_item.food_id, :user_id => cart_item.user_id, :quantity => cart_item.quantity + 1}}, :method => :patch, :disabled => cart_item.quantity == 10, :class => "plus" %>
            <%= button_to '-', add_cart_path, params: {:id => cart_item.id, :cart_items => {:food_id => cart_item.food_id, :user_id => cart_item.user_id, :quantity => cart_item.quantity - 1}}, :method => :patch, :disabled => cart_item.quantity == 1, :class => "sub" %>
          </div>
          <%= button_to "X", cart_item_path, params: {:id => cart_item.id}, :method => :delete, data: {confirm: 'Tem certeza?'} %>
        </div>
      <% end %>

      <div class="cart_item">
        <strong></strong>
        <strong></strong>
        <strong><%= number_to_currency_br(@total_value) %></strong>
        <%= @total_quantity %>
      </div>
    </main>
  <% end %>
</div>
