<%= form_for @restaurant do |form| %>
  <div>
    <%= form.label :description, "Nome" %>
    <%= form.text_field :description %>
  </div>

  <%= hidden_field_tag "restaurant[user_id]", "#{current_user.id}" %>

  <%= form.fields_for :locale do |builder| %>
    <div>
      <%= builder.label :state, "Estado" %>
      <%= builder.text_field :state, maxlength: 2 %>
    </div>

    <div>
      <%= builder.label :city, "Cidade" %>
      <%= builder.text_field :city %>
    </div>

    <div>
      <%= builder.label :street, "Rua" %>
      <%= builder.text_field :street %>
    </div>

    <div>
      <%= builder.label :number, "Número" %>
      <%= builder.text_field :number, maxlength: 5 %>
    </div>
  <% end %>

  <p><%= form.submit 'Cadastrar' %></p>
<% end %>
