// Place all the styles related to the CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  box-sizing: 0;
  margin: 0;
}

.container > p {
  margin-top: 200px;
  font-size: 20px;
  color: var(--color-text-base);
}

.container .cart_box {
  width: 100%;
}

.container .cart_box .cart_item {
  display: grid;
  grid-template-columns: 150px 2fr 80px 50px 40px;
  column-gap: 16px;
  align-items: center;

  margin: 16px 0;
  padding: 8px;
  border-radius: 16px;

  background: var(--color-background);

  > img {
    border-radius: 8px;
  }

  > a {
    text-decoration: none;
  }
}

.container .cart_box .cart_item > div {
  display: grid;
  grid-template-areas: "value plus"
                       "value sub";
  align-items: center;
  row-gap: 5px;
}

.container .cart_box .cart_item > div p {
  grid-area: value;
}

.container .cart_box .cart_item > div .plus {
  grid-area: plus;
}

.container .cart_box .cart_item > div .sub {
  grid-area: sub;
}

.container .cart_box .cart_item > div form input[type=submit] {
  height: 20px;
  width: 20px;

  border: 0;
  border-radius: 4px;

  background: var(--color-input-background);
}

.container .cart_box .cart_item > form input[type=submit] {
  height: 30px;
  width: 40px;

  padding: 5px;
  border: 0;
  border-radius: 6px;
}

.container .cart_box .cart_item input[type=submit] {
  cursor: pointer;
  transition: 0.2s;

  background: var(--color-input-background);
}

.container .cart_box .cart_item input[type=submit]:hover {
  background: var(--color-input-background-dark);
}
