// Place all the styles related to the Foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  font-family: 'Archivo';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1080px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--color-box-base);
}

.container .header {
  width: 90%;
  margin: 0 auto;
  padding: 16px 36px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;

  background: var(--color-primary);
  color: var(--color-title-in-primary);
}

.container .header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .header p {
  margin-top: 24px;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-text-in-primary);
}

.container .header a {
  background: var(--color-input-background);
  padding: 12px;
  border-radius: 10px;

  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.container .header a:hover {
  background: var(--color-input-background-dark);
}

.container .header > a {
  position: absolute;
  right: 12%;

  @media (min-width: 1080px) {
    position: relative;
    left: 700px;
    bottom: -21px;
  }
}

.container .menu {
  width: #{"min(800px, 100%)"};
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  padding: 16px 0;
  margin-top: 24px;

  color: var(--color-text-base);
}

.container .menu .menu_item {
  font: 18px Poppins;
  display: flex;
  align-items: center;

  background: var(--color-input-background);
  padding: 5px 10px;
  border-radius: 10px;

  text-decoration: none;
  cursor: pointer;

  img {
    margin-right: 8px;
  }
}

.container .menu .menu_item:hover {
  background: var(--color-input-background-dark);
}

.container .menu .menu_item:active {
  background: 'red';
}

.container > p {
  margin-top: 200px;
  font-size: 20px;
  color: var(--color-text-base);
}

.container .food_box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container .food_box .food_item {
  margin: 16px;
  padding: 16px;
  border-radius: 16px;

  background: var(--color-background);

  transition: transform 0.3s;
}

.container .food_box .food_item:hover {
  transform: scale(1.15);
}

.container .food_box .food_item .title {
  display: flex;
  justify-content: space-between;

  padding: 0 10px;

  color: var(--color-text-title);
}

.container .food_box .food_item .title input {
  height: 25px;
  width: 25px;

  border: 0;
  border-radius: 4px;

  background: var(--color-input-background);
  cursor: pointer;
  transition: 0.2s;
}

.container .food_box .food_item .title input:hover {
  background: var(--color-input-background-dark);
}

.container .food_box .food_item img {
  width: 100%;
  height: #{"min(30vw, 300px)"};
  border-radius: 10px;
}

.container .food_box .food_item .food_info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-base);

  span {
    font-size: 17px;
  }
}

.container .food_box .food_item .food_info .info_shop {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  > strong {
    font-size: 18px;
    margin-bottom: 4px;
  }
}

.container .food_box .food_item .food_info .info_shop input {
  padding: 4px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  color: #111;
  background: var(--color-secondary);

  cursor: pointer;
  transition: 0.2s;
}

.container .food_box .food_item .food_info .info_shop input:hover{
  opacity: 0.8;
}
