// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  box-sizing: border-box;
}

.session {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--color-box-base);
}

.session form {
  width: 100%;
  max-width: 600px;
  height: 400px;

  margin: 0 16px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--color-primary-light);
}

.session form .field {
  width: 80%;
  display: flex;
  flex-direction: column;

  padding: 0 32px;
}

.session form .field + .field {
  padding-top: 32px;
}

.session form .field label {
  font: 20px Poppins;
  padding-left: 4px;
  color: var(--color-title-in-primary);
}

.session form .field input {
  height: 56px;
  width: 100%;

  outline: 0;
  font: 16px Archivo;

  padding-left: 16px;
  margin-top: 8px;

  border-radius: 8px;
  border: 1px solid var(--color-line-in-white);
  background: var(--color-input-background);
}

.session form input[type=submit] {
  background: var(--color-input-background);
  color: var(--color-primary);
  border: 0;

  padding: 8px 24px;
  margin: 12px 0;
  border-radius: 4px;

  font: 700 18px Archivo;

  cursor: pointer;
  transition: color 0.2s;
}

.session form input[type="submit"]:hover {
  opacity: 0.8;
}

.session p {
  position: relative;
  top: -32px;
  font-size: 22px;

  color: var(--color-title-in-primary);
}

.session p a {
  color: var(--color-title-in-primary);

  text-decoration: none;
}

.session p a:hover {
  color: var(--color-text-in-primary);
}
